@charset "UTF-8";
* {
	margin: 20px;
	padding: 5px;
}
 body{ 
    color: #DDFFFF;
}

header {
	background-color: #e2c100;
	margin: 3px auto;
	border: 1px solid #000000;
	padding: ;
	width: 700px;
	height: 25px;
}
 
main {
	background-color: ;
	margin: 0 auto;
	border-bottom: 1px solid #000000;
	padding: 20px 0 20px 0;
	width: 1000px;
}
 
 
#box1 {
	background-color: #ff8000;
	width: 400px;
	height: 1000px;
	float: left;
}
 
#box2 {
	background-color: #be81f7;
	width: 400px;
	height: 1000px;
	float: right;
}
	
